:root {
  --bg-body: #fff;
  --bg-main: #DCE3ED;
  --text-color: #000;
  --filled-color: #000;
  --filled-bg: #CFCFCF;
  --selected-bg: #bbdefb;
  --white: #fff;
  --black: #000;
  --red: #c30000;
  --green: #00bc00;
  --blue: #0072e3;

  --nav-size: 70px;
  --cell-size: 50px;
  --border-radius: 10px;
  --gap: 2px;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100vh;
  background-color: var(--bg-body);
  overflow-x: hidden;
  user-select: none;
}
input {
  font-family: 'Roboto', sans-serif;
  border: 3px solid var(--bg-main);
  color: var(--text-color);
}
input:hover,
input:focus {
  border-color: var(--blue);
}
.input__name {
  height: 80px;
  width: 280px;
  border-radius: var(--border-radius);
  outline: 0;
  /* background-color: var(--bg-main); */
  padding: 20px;
  font-size: var(--font-size-l);
  text-align: center;
}
.input--err {
  border-color: var(--red);
  animation: bounce .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style-type: none;
}
nav {
  background-color: var(--bg-body);
  color: var(--text-color);
  position: fixed;
  top: 0;
  width: 100%;
  /* box-shadow: 5px 2px var(--bg-body); */
  z-index: 99;
}
.nav__container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: var(--nav-size);
}
.nav__logo {
  font-size: var(--font-size-l);
  color: var(--blue);
}
.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 400px;
}
.screen__start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screen__start.active {
  transform: translateX(0);
}
.screen__start > * + * {
  margin-top: 20px;
}
.btn {
  height: 80px;
  width: 280px;
  background-color: var(--bg-main);
  color: var(--text-color);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  transition: width .3s ease-in-out;
  overflow: hidden;
  font-size: var(--font-size-l);
  cursor: pointer;
}
.btn--blue {
  background-color: var(--blue);
  color: var(--white);
}
.main {
  font-size: var(--font-size-m) ;
  height: 100vh;
  padding-top: var(--nav-size);
  display: grid;
  place-items: center;
}
.main__game-screen {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  /* transform: translateX(150%); */
  transition: transform .3s ease-in-out;
}
.main__game-screen.active {
  display: block ruby;
  /* transform: translateX(0); */
}
.main__sudoku-grid {
  display: grid;
  /* gap: var(--gap); */
  grid-template-columns: repeat(9, auto);
  border: solid 1px black;
}
.main__grid-cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: var(--white);
  border: 1px solid var(--bg-main);
  color: var(--blue);
  display: grid;
  place-items: center;
  font-size: var(--font-size-m);
}
/* .main__grid-cell:hover {
  border: 1px solid var(--blue);
}
.main__grid-cell.hover {
  border: 3px solid var(--blue);
} */
.main__grid-cell--filled {
  background-color: var(--filled-bg);
  color: var(--filled-color);
}
.main__grid-cell--selected {
  background-color: var(--blue);
  color: var(--white);
}
.main__grid-cell--error {
  background-color: var(--red);
  color: var(--white);
}
.main__game-info {
  display: grid;
  grid-template-columns: 1fr;
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  margin-left: 40px;
  gap: 10px;
  width: 300px;
}
.main__game-info__box {
  display: grid;
  height: 45px;
  background-color: var(--bg-main);
  border-radius: var(--border-radius);
  place-items: center;  
  padding: 0 20px;
  font-size: var(--font-size-m);
}
.main__game-info__time {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: auto;
}
.btn__pause {
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size-m);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.btn__pause.active {
  display: none;
}
.numbers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.number {
  height: var(--cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--blue);
  display: grid;
  place-items: center;
  font-size: var(--font-size-m);
  cursor: pointer;
}
.number__delete {
  background-color: var(--red);
  color: var(--white);
}
.main__pause-screen {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  align-items: center;
  flex-direction: column;
  display: none;
}
.main__pause-screen.active {
  display: flex;
}
.main__pause-screen > * + * {
  margin-top: 20px;
}
.main__pause-screen.active .btn {
  animation: zoom-in .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes zoom-in {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

