:root {
  --bg-body: #fff;
  --bg-main: #000;
  --text-color: #000;
  --filled-color: #000;
  --filled-bg: #CFCFCF;
  --selected-bg: #bbdefb;
  --white: #fff;
  --black: #000;
  --red: #c30000;
  --green: #00bc00;
  --blue: #0072e3;

  --nav-size: 70px;
  --cell-size: 50px;
  --border-radius: 10px;
  --gap: 5px;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Noto Sans Limbu', sans-serif;
  height: 100vh;
  background-color: var(--bg-body);
  overflow-x: hidden;
  user-select: none;
}
input {
  font-family: 'Noto Sans Limbu', sans-serif;
  border: 2px solid var(--black);
  color: var(--text-color);
}
input:hover,
input:focus {
  border-color: var(--black);
}
.input__name {
  height: 80px;
  width: 280px;
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--filled-bg);
  padding: 20px;
  font-size: var(--font-size-l);
  text-align: center;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style-type: none;
}
nav {
  background-color: var(--bg-body);
  color: var(--text-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 5px 2px var(--bg-body);
  z-index: 99;
}
.nav__container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: var(--nav-size);
}
.nav__logo {
  font-size: var(--font-size-l);
  color: var(--blue);
}
.main {
  font-size: var(--font-size-m) ;
  height: 100vh;
  padding-top: var(--nav-size);
  display: grid;
  place-items: center;
}
.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 400px;
}
.screen__start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screen__start--active {
  transform: translateX(0)
}
.screen__start > * + * {
  margin-top: 20px;
}
